@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
	.highCpu {
		background: red;
		color: white;
	}
</style>

<div id="computerInfo">

	<h2>Computer Resource Monitor</h2>
	

	<table border="0" class="table table-striped">
		<tr>
			<th>Machine</th>
			<th>CPU %</th>
			<th>Memory Available (Mb)</th>
			<th>Total Memory (Mb)</th>
			<th>Mem Available %</th>
			<th>Up Time</th>
		</tr>



		<!-- ko foreach: machines -->
		<tr>
			<td data-bind="text: machineName"></td>
			<td data-bind="text: cpu"></td>
			<td data-bind="text: memUsage"></td>
			<td data-bind="text: memTotal"></td>
			<td data-bind="text: memPercent"></td>
			<td data-bind="text: upTime"></td>

		</tr>

		<!-- /ko -->

	</table>

</div>

@section Scripts {
	<script src="~/Scripts/index.js"></script>
}