@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="computerInfo">

	<h2>Computer Resource Monitor</h2>
	

	<table border="0" class="table table-striped">
		<tr>
			<th>Device Name</th>
			<th>CPU %</th>
			<th>Memory Available</th>
			<th>Total Memory</th>
			<th>Memory Available %</th>

		</tr>



		<!-- ko foreach: machines -->
		<tr>
			<td data-bind="text: machineName"></td>
			<td data-bind="text: cpu"></td>
			<td data-bind="text: memUsage"></td>
			<td data-bind="text: memTotal"></td>
			<td data-bind="text: memPercent"></td>

		</tr>

		<tr>
			<th>Up Time</th>
			<th>Processes</th>
			<th>Disk Bytes/sec</th>
			<th>Interrupts/sec</th>
			<th>Mutexes</th>
		
		</tr>

		<tr>
			
			<td data-bind="text: upTime"></td>
			<td data-bind="text: processes"></td>
			<td data-bind="text: disk"></td>
			<td data-bind="text: interrupts"></td>
			<td data-bind="text: mutexes"></td>
			
			

		</tr>
		<!-- /ko -->

	</table>

</div>

@section Scripts {
	<script src="~/Scripts/index.js"></script>
}